@use "../../../scss/globals.scss";

.hero-panel-actions {
  &__action {
    border: solid 1px var(--color-text-bright);

    &--disabled {
      opacity: 0.5;
    }
  }

  &__container {
    display: flex;
    gap: calc(globals.$spacing-unit * 2);
  }

  &__separator {
    width: 1px;
    background-color: var(--color-text-bright);
    opacity: 0.2;
  }
}

.hero-panel-actions__prompt-actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  margin-top: 8px;
  flex-wrap: wrap;
}
